<mat-progress-bar mode="indeterminate" [class.disabled]="!loading" class="loadingbar"></mat-progress-bar>
<mat-card-title>Standort speichern</mat-card-title>
<mat-card-subtitle>Deine Position für Freunde veröffentlichen</mat-card-subtitle>
<mat-card-content>
  <mat-tab-group>
    <mat-tab label="Automatisch">
      <app-save-location-geolocation (locationReceived)="locationReceivedHandler($event)"></app-save-location-geolocation>
    </mat-tab>
    <mat-tab label="Adresse eingeben">
      <app-save-location-manual (manualLocation)="addressReceivedHandler($event)"></app-save-location-manual>
    </mat-tab>
  </mat-tab-group>
</mat-card-content>
<mat-card-actions>
  <button mat-button color="warn" (click)="closeDialog()">Abbrechen</button>
  <button
    mat-raised-button
    color="primary"
    (click)="submitLocation()"
    [disabled]="submitDisabled"
    matTooltip="Diesen Standort für deine Freunde veröffentlichen?"
  >
    Speichern
  </button>
</mat-card-actions>
