.save-location-fab {
  z-index: 0;
  position: fixed;
  bottom: 48px;
  right: 48px;
}

.loading {
  margin-top: 128px;
  text-align: center;
}

mat-spinner {
  margin: 10px auto;
}

agm-map {
  height: 100%;
}
