.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 16px;
  z-index: 0;
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

.save-location-fab {
  z-index: 0;
  position: fixed;
  bottom: 48px;
  right: 48px;
}

.loading {
  margin-top: 128px;
  text-align: center;
}

mat-spinner {
  margin: 10px auto;
}
