.sidenav-format-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.sidenav {
  height: 100%;
}

.content-margin {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.menu-button {
  margin-right: 16px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
