<div class="sidenav-format-container">
  <mat-toolbar color="accent">
    <button mat-icon-button class="menu-button" (click)="sidenavOpen = !sidenavOpen">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Friends and Places</span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav">
    <mat-sidenav mode="over" [(opened)]="sidenavOpen">
      <app-sidenav-content [loggedIn]="loggedIn" (selectedPage)="selectPage($event)"></app-sidenav-content>
    </mat-sidenav>
    <mat-sidenav-content>

      <!-- Add main content components with logic for display here -->

      <app-login *ngIf="selectedPage == 'login'"></app-login>
      <app-start-page (selectedPage)="selectPage($event)" *ngIf="selectedPage == 'start'"></app-start-page>
      <app-friends (selectedPage)="selectPage($event)" *ngIf="selectedPage == 'friends'"></app-friends>
      <app-map [longitude]="6.6151"[latitude]="51.8384" (selectedPage)="selectPage($event)" *ngIf="selectedPage == 'map'"></app-map>
    </mat-sidenav-content>
  </mat-sidenav-container>


</div>
