<form [formGroup]="registerForm">
  <h1 mat-dialog-title>Registrieren</h1>
  <div mat-dialog-content>
    Gib hier deine Daten ein:
    <p>
      <mat-form-field appearance="fill" class="wide-center" disabled="loading">
        <mat-label>Gib deine E-Mail ein</mat-label>
        <input matInput placeholder="nutzer@beispiel.de" formControlName="email" required>
        <mat-error *ngIf="registerForm.controls.email.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" class="wide-center" disabled="loading">
        <mat-label>Gib deine Passwort ein</mat-label>
        <input matInput type="password" placeholder="Passwort" formControlName="password" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" class="wide-center">
        <mat-label>Passwort wiederholen</mat-label>
        <input matInput type="password" placeholder="Passwort" formControlName="passwordRepeat" required>
      </mat-form-field>
    </p>
    <div class="button-row">
      <mat-progress-bar mode="query" style="width: 50%" color="accent" [class.invisible]="! loading"></mat-progress-bar>
      <button mat-raised-button color="accent" (click)="onSubmit()" type="submit" [disabled]="registerForm.invalid || loading">
        Registrieren
      </button>
      <button mat-stroked-button color="warn" type="button" (click)="closeDialog()" [disabled]="loading">Abbrechen</button>
    </div>
  </div>
</form>

<h1>Loading: {{ loading }}</h1>
