<div class="content-margin">

  <mat-selection-list #siteList class="site-list" [multiple]="false" (selectionChange)="selectedPageChanged(siteList.selectedOptions.selected[0]?.value)">
    <mat-list-option [selected]="selectPage == 'start'" [value]="'start'"> Startseite </mat-list-option>
    <mat-list-option [disabled]="!loggedIn" [selected]="selectPage == 'friendsmap'" [value]="'friendsmap'"> Freundschaftskarte </mat-list-option>
    <mat-list-option [disabled]="!loggedIn" [selected]="selectPage == 'friendslist'" [value]="'friendslist'">Freundesübersicht</mat-list-option>
  </mat-selection-list>

</div>
