<form [formGroup]="loginForm">
  <h1>Login</h1>
  <p>
    <mat-form-field appearance="fill" class="wide-input">
      <mat-label>Gib deine E-Mail ein</mat-label>
      <input matInput placeholder="nutzer@beispiel.de" formControlName="email" required>
      <mat-error *ngIf="loginForm.controls.email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill" class="wide-input">
      <mat-label>Gib deine Passwort ein</mat-label>
      <input matInput type="password" placeholder="Passwort" formControlName="password" required>
      <mat-error *ngIf="loginForm.controls.password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
  </p>
  <div class="button-row">
    <button mat-raised-button color="accent" type="submit" [disabled]="loginForm.invalid">Anmelden</button>
    <button mat-stroked-button color="accent" type="button" (click)="openRegisterDialog()">Registrieren</button>
  </div>
</form>
