.wide-input {
  width: 100%;
}
button {
  width: 100%;
  margin: 12px auto;
  display: block;
}

.invisible {
  display: none;
}

mat-card {
  max-width: 300px;
  margin: 0 auto;
  top: 250px;
}

.background-image {
  background: url("../../assets/login-background.jpg") no-repeat center center fixed;
  height: 100%;
  width: 100%;
  transition: filter .5s;
}

.blur {
  filter: blur(15px);
}

.mat-card-subtitle {
  margin-bottom: 24px;
}
