<div style="margin: 16px">
  <div class="mat-display-4" style="text-align: center; margin-top: 64px;"> Willkommen bei Friends and Places </div>
  <div class="mat-display-1" style="text-align: center;"> Dein Ort, sie Alle zu finden!</div>

  <div style="display: flex; flex-flow: row; align-items: center; justify-content: space-between; margin-left: 32px; margin-right: 32px;">
    <div style="display: flex; flex-flow: column;">
      <div class="mat-h2"> Starte jetzt, indem du dich einloggst und finde heraus, wo sich deine Freunde gerade befinden!</div>
      <button mat-raised-button style="margin-top: 16px;" (click)="goToLoginPage()"> Login </button>
    </div>
    <img src="https://cdn.pixabay.com/photo/2018/01/31/05/43/web-3120321_960_720.png" style="max-width: 750px;">
  </div>
</div>
