<div class="start-page__container">
  <div class="mat-display-4 start-page__heading"> Willkommen bei Friends and Places </div>
  <div class="mat-display-2 start-page__slogan"> Dein Ort, sie Alle zu finden!</div>

  <div class="start-page__content-container">
    <div class="start-page__content-container__login">
      <div class="mat-h2"> Starte jetzt, indem du dich einloggst und finde heraus, wo sich deine Freunde gerade befinden!</div>
    </div>
    <img class="start-page__content-container__image" src="https://cdn.pixabay.com/photo/2018/01/31/05/43/web-3120321_960_720.png">
  </div>
</div>
